<%- include("partials/header.ejs") %>

<main>
    <div>
        <h1>Lorem, ipsum dolor.</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit at vero dolore cum nobis, harum blanditiis? Sit, vel ea. Architecto quasi, itaque, asperiores tempora reiciendis ipsum incidunt et iusto eligendi, cumque qui nulla earum! Nihil unde, quam vel laudantium laborum quidem, aliquam reprehenderit rem molestias iste eaque, non hic blanditiis?</p>
    </div>

    <div>
        <img src="/imgs/image.png" alt="">
    </div>
</main>
<hr>
<p class="txt_h4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. At molestias porro iste deleniti excepturi accusamus eligendi. Unde, perferendis similique! Magnam iusto culpa aspernatur beatae voluptatum distinctio consequuntur. Sunt cupiditate impedit, nisi veritatis hic delectus. Libero temporibus totam tenetur ut minus unde architecto neque, ipsam incidunt magni. Iure eligendi provident officiis deleniti sapiente temporibus, quas vel suscipit vero debitis. Dignissimos corporis blanditiis fuga vero non impedit.</p>

<%- include("partials/footer.ejs") %>